html {
  box-sizing: border-box;
}

body {
  background: #007070;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#text-input {
  border-radius: 12rem;
  height: 6vh;
  background: rgb(200, 200, 200);
}

#check-btn {
  border-radius: 12rem;
  height: 4vh;
}

a {
  position: fixed;
  top: 95wh;
}

footer {
  text-align: center;
}
